** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}


.box {
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    border: 2px solid white;
}

.box-2{
    border:none;
    border-top: solid green 3px;
    border-bottom: solid greenyellow 4px;

}

.box-2{
    border-radius: 20px;
}